<div class="flex flex-col w-full p-4 gap-4 mt-4">
  <div class="flex flex-col md:flex-row gap-4 w-full items-start">
    <div class="w-full md:w-1/4">
      <app-filter-panel></app-filter-panel>
    </div>

    <div class="w-full md:w-3/4">
      <app-statistics></app-statistics>
    </div>
  </div>

  <div class="w-full flex justify-center gap-4 mb-4 mt-8">
    <app-add-element-button></app-add-element-button>
    <app-report-button></app-report-button>
  </div>

  <div class="w-full">
    <app-inventory-list></app-inventory-list>
  </div>
</div>