@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: '#b6bda6ff';
  --primary: '#A3C356',
    --primary_dark: '#6CB44C',
    --primary_darker: '#24842C',
    --secondary: '#A8AFA6',
    --secondary_dark: '#647B64',
    --secondary_darker: '#443C3C',
    --secondary_lighter: '#dbdbdbff',
}

@layer base {
  body {
    background-color: var(--background);
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
  }
}