@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: '#e6f0cdff';
}

@layer base {
  body {
    background-color: var(--background);
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
  }
}
