<nav class="relative flex items-center justify-between bg-gradient-to-b from-secondary_darker to-transparent text-white px-8 min-h-[100px] font-sans">

  <div class="flex items-center space-x-4 z-10">
     <img src="/logos-icons/temperies-logo.png" alt="Temperies Logo" class="h-10 w-auto" />
  </div>

  <div class="absolute left-1/2 transform -translate-x-1/2 flex pt-6 pb-6">
    <a
      routerLink="/inventario"
      routerLinkActive="text-secondary_lighter drop-shadow-md"
      [routerLinkActiveOptions]="{ exact: true }"
      class="text-5xl min-h-[75px] font-extrabold transition-colors duration-200 ease-in-out no-underline bg-gradient-to-b from-primary_darker via-primary_dark to-secondary_darker bg-clip-text text-transparent"
      
    >
      Inventory Manager
    </a>
  </div>
</nav>
