<div class="p-6 bg-secondary bg-opacity-65 rounded-2xl shadow-sm">
  <h2 class="text-2xl font-semibold text-secondary-dark mb-8 text-center">
    Inventario completo:
  </h2>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
    <div *ngFor="let compuesto of elementosCompuestos"
      class="bg-white border border-secondary-dark rounded-xl p-6 shadow-md flex flex-col justify-between">

      <div>
        <h3 class="text-xl font-bold text-secondary-darker">
          {{ compuesto.nombre || compuesto.personalId }}
        </h3>
        <p><strong>ID personal:</strong> {{ compuesto.personalId }}</p>
        <p><strong>Descripción:</strong> {{ compuesto.descripcion }}</p>
        <p><strong>Ubicación:</strong> {{ compuesto.ubicacion }}</p>
        <p><strong>Valor total:</strong> ${{ compuesto.valorCalculado | number }}</p>
      </div>

      <div class="flex justify-between mt-4">
        <button [routerLink]="['/inventario', compuesto.id]" class="bg-primary hover:bg-primary_dark text-white px-4 py-2 rounded">
          Ver más
        </button>

        <button (click)="abrirConfirmacionEliminacion(compuesto.id)"
              class="bg-red-600 hover:bg-red-700 text-white py-1 px-3 rounded-lg">
        Eliminar
      </button>

      <div *ngIf="idPendienteAEliminar !== null"
     class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50">
  <div class="bg-white p-6 rounded-xl shadow-lg w-full max-w-md text-center">
    <h3 class="text-xl font-bold text-secondary-dark mb-4">
      ¿Desea eliminar este elemento del inventario?
    </h3>
    <p class="text-gray-700 mb-6">
      Esta acción no se puede deshacer.
    </p>
    <div class="flex justify-center gap-4">
      <button (click)="confirmarEliminacion(idPendienteAEliminar)"
              class="bg-red-600 hover:bg-red-700 text-white px-4 py-2 rounded-lg">
        Sí, eliminar
      </button>
      <button (click)="cerrarConfirmacion()"
              class="bg-gray-300 hover:bg-gray-400 text-gray-800 px-4 py-2 rounded-lg">
        Cancelar
      </button>
    </div>
  </div>
</div>
      </div>
    </div>
  </div>
</div>